@font-face {
    font-family: 'dudu';
    src: url(font/Dudu_Calligraphy.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;} 

body{
    background: url(img/partnerintime.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'dudu';
    display: flex;
}

main{
    background-color: #d4c0c4;
    border: 5px solid #9394a1;
    margin: 0 auto;
    width: 700px;
}

header{
    text-align: center;
    margin-bottom: 15px;
}

a, a:visited, a:active{
    text-decoration: none;
    color: black;
    margin: 0 auto;
    font-size:large;
    display: flex;
    align-items: center;
}

a img{
    margin-right: 5px;
    width: 18px;
}

#memoji{
    width: 100px;
    float: left;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

p{
    margin: 15px;
    font-size:large;
}

footer{
    margin: 10px 0;
    display: flex;
}