@font-face {
    font-family: 'dudu';
    src: url(font/Dudu_Calligraphy.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;} 

body{
    background: url(img/lighthouse.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'dudu';
    display: flex;
}

main{
    background-color: #fae297;
    margin: 0 auto;
    width: 450px;
    border: 5px solid #856053; 
    padding: 10px;
}

header{
    text-align: center;
    margin-bottom: 15px;
}

h1, h4{
    margin: 5px;
}

.divider{
    width: 100%;
}

h3{
    margin: 10px;
}

p{
    margin: 15px;
}

footer{
    margin: 10px 0;
    display: flex;
}

a, a:visited, a:active{
    text-decoration: none;
    color: black;
    margin: 0 auto;
    font-size:large;
    display: flex;
    align-items: center;
}

a img{
    margin-right: 5px;
    width: 18px;
}
