@font-face {
    font-family: 'dudu';
    src: url(font/Dudu_Calligraphy.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;} 

body{
    background: url(img/rachel.jfif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'dudu';
    display: flex;
}