@font-face {
    font-family: 'dudu';
    src: url(font/Dudu_Calligraphy.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;} 

body{
    background: url(img/emilysaway.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    cursor: url(./crsr.png) auto;
    font-family: 'dudu';
    display: flex;
}

main{
    background-color: #dce3eb;
    margin: 0 auto;
    width: 900px;
    border: 5px solid #4267B2;
   
}

#header{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header{
    position: relative;
    height: 300px;
}

#icon{
    width: 165px;
    border: 5px solid #dce3eb;
    position: absolute;
    left: 65px;
    top: 140px;
}

#tag{
    font-size:25px;
    position: absolute;
    top: 210px;
    left: 245px;
}

#left{
    width: 25%;
    margin: 20px;
}

#info{
    font-size:17px;
    position: absolute;
    top: 238px;
    left: 248px;
}

nav{
    background-color: #BEE5B0;
    border: 5px solid #9CBF88;
}

nav h1{
    text-align: center;
    margin: 5px 0;
}

nav ul{
    padding-left: 5px;
    margin-top: 0px;
}

nav ul li {
    font-size: larger;
    list-style-type: none;
    margin: 5px 0;
    display: flex;
}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: black;
}

nav ul li a img{
    width: 24px;
    margin-right: 4px;
    margin-left: 5px;
}

#divider{
    width: 100%;
    margin: 0;
    margin-right: 5px;
}

a:visited, a:active{
    color: black;
}

#mid{
    display: flex;
}

article{
    background: #FAF3B6;
    margin: 20px;
    margin-left: 0px;
    width: 75%;
    border: 5px solid #E0C97F;
}

#welcome{
    width: 300px;
    display: block;
    margin: 5px auto;
}

footer{
    height: 80px;
    background-color: #4267B2;
}

#blinkies{
    position: absolute;
    top: 290px;
    left: 252px;
}

.blinkie{
    margin: 0;
    padding: 0;
}

article p{
    margin: 20px;
}

#visitor{
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #FFE4E1;
    border: 5px solid #FFB6C1;
}

#visitor p span{
    font-size: larger;
}